  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><i class="large material-icons"></i>CloudChart</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html"><i class="material-icons">Home</i></a></li>
        <li><a href="badges.html"><i class="material-icons">Charts</i></a></li>

      </ul>
    </div>
  </nav>